

export(eigenboot) 
export(eigenbootcanon) 
export(fit.boot) 
export(fit.boot.Efron)
export(get1Dderiv) 
export(get1Dini) 
export(get1Dobj) 
export(manifold1Dplus)
export(matpower) 
export(projection) 
export(scanner) 
export(secondboot) 
export(selection) 
export(targetboot) 
export(targetbootcanon) 


import(aster)

importFrom(MASS, ginv)
importFrom(caTools, combs)
importFrom(aster2, transformConditional)
importFrom(aster2, transformUnconditional)
importFrom(aster2, transformSaturated)
importFrom(aster2, jacobian)
importFrom(aster2, asterdata)

importFrom(stats, var)
importFrom(stats, model.matrix)
importFrom(stats, optim)
importFrom(stats, pchisq)
importFrom(stats, predict)
importFrom(stats, reshape)
importFrom(utils, data)